@use '../../styles/abstracts/' as *;

.porady {
	.submenu {
		background-color: rgba(255, 255, 255, 0);
		display: flex;
		align-items: center;
		position: absolute;
		top: 1;
		left: 0;
		width: 100%;

		.spacer {
			width: calc(50vw - $navContainerWidth/2 + 125px);

			min-width: 110px;
			@include on-mobile {
				width: 0;
				min-width: 0;
			}
		}

		.navContainer {
			padding: 0;
			background-color: $primary;
			width: $navContainerWidth;
			text-align: left;
			padding-left: 10px;

			nav {
				// active - set in globals.scss
				//height: $navBarHeight; -- broke mobile nav
				display: inline-flex;
				border-right: solid 1.5px black;
				@include on-mobile {
					border-right: unset;
				}

				a {
					position: relative;
					display: inline-block;
					color: black;
					//height: 100%;  -- broke mobile nav
					padding: 15px 10px;
					font-size: 12px;
					@include on-mobile {
						padding: 10px 7px;
					}
					@include on-tiny {
						padding: 8px 5px;
						font-size: 10px;
					}
					margin: 0;
					text-decoration: none;
					text-transform: uppercase;
					font-weight: bold;
				}
				:hover {
					color: white;
					background-color: #ffd333;
				}
			}
			.search {
				margin: 0 0 10px 0;
				//text-align: right;
				display: inline-flex;
				//justify-content: right;
				text-align: center;

				* {
					font-size: 12px;
				}

				.razeni {
					margin-right: 20px;
					padding-left: 7px;
					@include on-tiny {
						margin-right: 5px;
					}
				}

				input,
				select {
					margin: 0 0 0 10px;
					border-color: black;
				}
				input {
					@include on-tiny {
						margin: 0 0 0 0px;
						width: 70%;
					}
				}
			}
		}
	}

	.content {
		padding-top: 30px;
		@media (max-width: 960px) {
			padding-top: 85px;
		}
		@include on-super-tiny {
			padding-top: 120px;
		}
	}

	.cardsList {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}
