@use '../../../styles/abstracts/' as *;

.card {
	margin: 20px 0px;
	//padding: 10px 5px;
	//background-color: #eeeeee;
	@include on-mobile {
		margin: 5px;
	}
	cursor: pointer;
	@include box-shadow;

	.textBelow {
		padding: 0 5px 1px;
		text-align: left;
		.title {
			font-size: 14px;
			line-height: 16px;
			font-weight: bold;
			margin: 0;
		}
		.date {
			color: $darkgrey;
			text-align: right;
		}
	}
}
