@use '../../../styles/abstracts/' as *;

.heading {
	// @include heading($porady-heading-height, 450, 800);  -- po zúžení černého pruhu už nevystačil obrázek pod gradient
	@include heading($porady-heading-height, 450, 880);

	h3 {
		font-size: 39px;
		text-align: right;
	}
	.leadWrapper {
		max-width: 500px;
		margin: 0 0 0 auto;
	}
	.search {
		position: absolute;
		bottom: 25px;
		right: 50px;
	}
}

.error {
	padding-top: 2vh;
	h2 {
		text-align: center;
		color: black;
	}
	.button {
		display: inline-block;
		padding: 0.35em 1.2em;
		border: 0.1em solid $blackish;
		background-color: white;
		margin: 2vh 0.3em 0.3em 0;
		border-radius: 0.12em;
		box-sizing: border-box;
		color: $blackish;
		text-align: center;
		transition: all 0.2s;
		font-weight: bold;

		&:hover {
			color: white;
			background-color: $blackish;
		}
	}
}

.autori {
	text-align: left;
	margin-bottom: 60px;
}
