@use '../../../styles/abstracts/' as *;
@use '../card.module.scss' as *;

$width: 322px;

.card {
	@include on-content-width {
		$width: 26.833vw;
		max-width: $width;
		height: calc(360 / 640 * $width);
		font-size: 0.8em;
	}
	@include on-mobile {
		$width: 350px;
		max-width: $width;
		height: calc(360 / 640 * $width);
		font-size: 1rem;
	}

	h3 {
		text-align: left;
		margin: 10px;
		padding: 0;
		color: $primary;
	}
}

@include card($width);
