@use '../../../styles/abstracts/' as *;
@use '../_MainPageCard.module.scss' as *;

$width: 322px;

@include card($width);

.card {
	@include on-content-width {
		$width: 26.833vw;
		max-width: $width;
		height: calc(360 / 640 * $width);
		font-size: 0.8em;
	}
	@include on-mobile {
		$width: 350px;
		max-width: $width;
		height: calc(360 / 640 * $width);
		font-size: 1rem;
	}
	margin: 0.4rem 1rem;

	.card_content {
		width: 100%;
		position: absolute;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);

		.card_text {
			position: relative;

			h3 {
				text-align: left;
				color: $primary;
			}

			h4 {
				text-align: left;
				margin: 10px;
				padding: 0;
				color: $primary;
				//text-transform: uppercase;
			}

			p {
				display: block;
				position: absolute;
				bottom: -20px;
				right: 10px;
			}
		}
	}
}
