@use '../../../styles/abstracts/' as *;
@use '../_MainPageCard.module.scss' as *;

$width: 322px;

@include mainCard($width);

.card {
	.card_content {
		.card_text {
			.date {
				display: block;
				position: absolute;
				bottom: -12px;
				right: 10px;
				padding: 0 10px;
				max-height: 160px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
