@use '../../styles/abstracts' as *;

// https://youtu.be/2t6y-bDIe0Y?t=454

.allButFooter {
	min-height: calc(100vh - 266px);
}

.container {
	margin: auto;
	max-width: $container;
	text-align: center;
	padding: 0 5px;
}
