// colors
$primary: #ffca05;
$hover: red;
$blackish: #231f20;
$greyish: #ececec;
$darkgrey: #7b7b7b;
$verydarkgrey: #2b373b;

// breakpoints
$phone: 768px;
$container: 1200px;

$porady-heading-height: 400px;
$main-heading-height: 400px;

@mixin on-mobile {
	@media (max-width: $phone) {
		@content;
	}
}

@mixin on-tiny {
	@media (max-width: 520px) {
		@content;
	}
}

@mixin on-content-width {
	@media (max-width: $container) {
		@content;
	}
}

@mixin hide-on-mobile {
	@include on-mobile {
		display: none;
	}
}

@mixin box-shadow {
	box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 20%);
	transition: box-shadow 0.2s ease-in-out;
	&:hover {
		box-shadow: 1px 1px 8px 4px rgb(0 0 0 / 30%);
	}
}

@mixin heading($heading-height, $img-height, $img-width) {
	margin: 0 -5px;
	position: relative;
	overflow: hidden;
	.image {
		display: block;
		height: $heading-height;
		width: calc(($heading-height / $img-height) * $img-width);
		overflow: hidden;
		z-index: 2;
	}
	.overlay {
		position: absolute;
		width: 100%;
		height: $heading-height;
		margin-top: -$heading-height;
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0), 35%, $blackish 60%);
		z-index: 8;
		color: white;
		text-align: right;
		padding: 20px 50px 0 0;
	}
}
