// colors
$primary: #ffca05;
$hover: red;
$blackish: #231f20;
$greyish: #ececec;
$darkgrey: #7b7b7b;
$verydarkgrey: #2b373b;

// breakpoints
$phone: 768px;
$container: 1200px;

$porady-heading-height: 400px;
$main-heading-height: 400px;

@mixin bla {
	height: 300px;
	width: 600px;
}

@mixin on-mobile {
	@media (max-width: $phone) {
		@content;
	}
}

@mixin on-content-width {
	@media (max-width: $container) {
		@content;
	}
}

@mixin hide-on-mobile {
	@include on-mobile {
		display: none;
	}
}

@mixin box-shadow {
	box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 20%);
	transition: box-shadow 0.2s ease-in-out;
	&:hover {
		box-shadow: 1px 1px 8px 4px rgb(0 0 0 / 30%);
	}
}
