@use '../../styles/abstracts/' as *;

$width: 380px;

@mixin mainCard($width) {
	.card {
		max-width: $width;
		height: calc(360 / 640 * $width);
		color: white;
		background: $darkgrey;
		cursor: pointer;
		@include box-shadow;
		margin: 0.4rem 1rem;
		//border-radius: 1rem;
		overflow: hidden;
		display: inline-block;
		backface-visibility: hidden;
		transform: translateZ(0);

		@include on-content-width {
			$width: 26.833vw;
			max-width: $width;
			height: calc(360 / 640 * $width);
			font-size: 0.9em;
			h4 {
				max-width: calc($width - 110px);
			}
		}
		@include on-mobile {
			$width: 380px;
			max-width: $width;
			height: calc(360 / 640 * $width);
			font-size: 1rem;
		}

		.card_img {
			position: relative;
			img {
				height: 100%;
				margin-bottom: -3px;
			}
		}
		.card_content {
			width: 100%;
			position: absolute;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.6);
			.card_text {
				position: relative;
				h3 {
					text-align: left;
					color: $primary;
					margin: 10px;
					padding: 0;
					font-size: 1.2rem;
				}
				h4 {
					text-align: left;
					margin: 10px;
					padding: 0;
					color: $primary;
					//text-transform: uppercase;
				}
			}
		}
	}

	@keyframes fade_in_show {
		0% {
			opacity: 0;
			transform: scale(0);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}
