@use '../abstracts/index.scss' as *;

// PAGINATION
.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0 0 20px;
}

.pagination a {
	cursor: default;
	padding: 7px;
	border-radius: 6px;
	border: 1px solid $blackish;
	color: $blackish;
	margin-left: 10px;
}

.pagination li:not(.disabled) a:hover {
	cursor: pointer;
}

.pagination li a {
	font-weight: bold;
	text-decoration: none;
	@include box-shadow;
}

.pagination li.active a {
	color: $primary;
}

.pagination li.disabled a {
	pointer-events: none;
	color: rgb(198, 197, 202);
	border: 1px solid rgb(198, 197, 202);
}
