@use '../abstracts/index.scss' as *;

// PAGINATION
.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
}

.pagination a {
	cursor: default;
	padding: 8px 12px;
	color: $blackish;
}

.pagination li:not(.disabled) a:hover {
	cursor: pointer;
	color: white;
	background-color: #ffd333;
}

.pagination li a {
	font-weight: bold;
	text-decoration: none;
}

.pagination li.active a {
	background-color: $primary;
	color: white !important;
}

.pagination li.disabled a {
	pointer-events: none;
	color: rgb(198, 197, 202);
	// border: 1px solid rgb(198, 197, 202);
}
