@use '../../../../../styles/abstracts/' as *;

.mainBar {
	display: inline-block;
	width: 80%;
	padding-top: 30px;

	.player {
		margin: 0 auto;
		z-index: 4;
	}

	.podVideem {
		background-color: $greyish;
		padding: 0 60px 30px;
		margin-top: 3px;
		margin-bottom: 50px;
		text-align: left;

		h2 {
			color: $blackish;
		}

		h3 {
			margin-top: 0;
			color: $blackish;
		}

		.date {
			color: $darkgrey;
		}

		.nazevPoradu {
			display: flex;
			margin-bottom: 80px;
			.roundImage {
				display: inline-block;
				//display: block;
				width: 200px;
				height: 200px;
				background-color: $darkgrey;
				border-radius: 50%;
				overflow: hidden;
				object-fit: cover;
				object-position: center;
				cursor: pointer;

				.centerImage {
					position: relative;
					left: -77px;
				}
			}
			.nazev {
				display: inline-block;

				padding: 40px 0 0 30px;
			}
		}

		.prostorReklama {
			background-color: $darkgrey;
			width: 500px;

			margin: 0 auto;
			text-align: center;
			padding: 100px 0;
		}
	}
}

.sideBar {
	display: inline-block;
	width: 20%;

	div {
		height: 200px;
		margin: 40px 20px;
		background-color: $greyish;
	}
	.sideReklama {
		height: 340px;
	}
}
