@use '../styles/abstracts/' as *;

.heading {
	@include heading($porady-heading-height, 476, 992);
	h2 {
		font-size: 35px;
		text-align: right;
		font-weight: normal;
		color: white;
	}
	h1 {
		font-weight: bold;
		display: none;
	}
}

.content {
	h3 {
		text-align: center;
	}

	.nejnovejsi {
		padding: 20px 0;
	}
	.nejsledovanejsi {
		padding: 20px 0;
	}
}
