@use '../../styles/abstracts/' as *;

.heading {
	@include heading($porady-heading-height, 450, 800);

	h3 {
		font-size: 39px;
		text-align: right;
	}
	.leadWrapper {
		max-width: 500px;
		margin: 0 0 0 auto;
	}
	.search {
		position: absolute;
		bottom: 25px;
		right: 50px;
	}
}
