@use './abstracts' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './components/pagination.scss';
@import './components/player.scss';
@import './components/cookieBanner.scss';

html,
body {
	height: 100vh;
	padding: 0;
	margin: 0;
	//font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: $hover;
	}
}

.bold {
	font-weight: bold;
}

h1 {
	font-size: 80px;
	line-height: 80px;
	font-weight: bold;
	margin: 10px 0;
}

h2 {
	text-align: left;
	font-size: 29px;
	padding: 20px 0 10px 0;
	margin: 0;
	color: $primary;
	text-transform: uppercase;
}

h3 {
	text-align: left;
	font-size: 19px;
	margin: 0;
	padding: 20px 0 10px 0;
	text-transform: uppercase;
}

h4 {
	text-align: left;
}

p {
	margin-top: 0;
	font-size: 13px;
}

* {
	box-sizing: border-box;
}

.scrim {
	opacity: 0;
	visibility: hidden;
	display: none;
}

/*.active {
	background-color: $primary;
	color: white !important;
}*/

input,
select {
	padding: 0.5rem;
	border-width: 0.125rem;
	// border-radius: 0.25rem;    - chtějí hranaté rohy
	border-color: $primary;
	border-style: solid;
}

.yellowDivider {
	margin: 40px 0;
	border-top: 3px solid $primary;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-indent: inherit;
  text-shadow: inherit;
  text-align: inherit;

  &:focus-visible {
    outline: inherit;
    z-index: 3000;
  }
}